file/filename.csv
file/my_log_file.txt
./database/my_log_file.txt
/database/my_database.db
.idea
/database/my_db_file.db
/database/my_log_file.txt
/nohup.out
/logs/my_log_file.txt
/resources/my_database.db
/scripts/my_database.db
/identifier.sqlite
/resources/my_database.db-journal
/logs/webAccess.txt
